@{
}

@model Book


<div class="card car-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h3 style="font-family: Arial" class="text-center">@Model.Title</h3>

        <span class="badge bg-info" style="float:right">
            Classification: @Model.Classification
        </span>
    </div>
    <div>
        <ul style="list-style-type:none;">
            <li style="font-family: Times New Roman">Author: @Model.Author</li>
            <li style="font-family: Times New Roman">Publisher: @Model.Publisher</li>
            <li style="font-family: Times New Roman">Isbn Number: @Model.Isbn</li>
            <li style="font-family: Times New Roman">Category: @Model.Category</li>
            <li style="font-family: Times New Roman">Page Count: @Model.PageCount</li>
            <li style="font-family: Times New Roman">Price: $@Model.Price</li>
        </ul>
    </div>
    <form method="post" asp-page="/Shop">

        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUr" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Purchase</button>
        </span>

    </form>
</div>

<br />

